################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Techie/v15
/bin
/obj
/Techie.csproj.user
/*.log
